version: '3.8'
services:
  server:
    build:
      context: .
    network_mode: "host"
    environment:
      - DB_HOST=${DB_HOST:-127.0.0.1}
      - DB_USER=${DB_USER}
      - DB_PASSWORD=${DB_PASSWORD}
      - DB_NAME=${DB_NAME}
      - DB_PORT=3306
      - JWT_SECRET=${JWT_SECRET}
      - EXOTEL_SID=${EXOTEL_SID}
      - EXOTEL_API_KEY=${EXOTEL_API_KEY}
      - EXOTEL_API_TOKEN=${EXOTEL_API_TOKEN}
      - EXOTEL_SUBDOMAIN=${EXOTEL_SUBDOMAIN}
      - EXOTEL_VIRTUAL_NUMBER=${EXOTEL_VIRTUAL_NUMBER}
      - CLOUDINARY_CLOUD_NAME=${CLOUDINARY_CLOUD_NAME}
      - CLOUDINARY_API_KEY=${CLOUDINARY_API_KEY}
      - CLOUDINARY_API_SECRET=${CLOUDINARY_API_SECRET}
      - APP_URL=${APP_URL}
      - HAS_CREDIT_DEDUCTION_TRIGGER=false
    env_file:
      - .env
    restart: unless-stopped
